services:
  postgres:
    image: postgres:latest
    container_name: ecommerce-postgres
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    ports:
      - '5432:5432'

  redis:
    image: redis:latest
    container_name: ecommerce-redis
    restart: always
    ports:
      - '6379:6379'
